
OPENAI_API_KEY=

AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_CARDS_TABLE=cards
AIRTABLE_TRANSCRIPTS_TABLE=transcripts
AIRTABLE_QUESTIONS_TABLE=questions
AIRTABLE_EXAMS_TABLE=exams
AIRTABLE_EXAMS_CARDS_FIELD=cards
AIRTABLE_EXAMS_TIMESTAMP_FIELD=timestamp
# AIRTABLE_EXAMS_NAME_RECORDING_FIELD=name_cards_recording

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=Hh0rE70WfnSFN80K8uJC
