
OPENAI_API_KEY=

AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_CARDS_TABLE=cards
AIRTABLE_TRANSCRIPTS_TABLE=transcripts
AIRTABLE_QUESTIONS_TABLE=questions

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=Hh0rE70WfnSFN80K8uJC
